html{
    scroll-behavior: smooth;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.nav{
    display: flex;
    height: 10%;
    gap: 62%;
    background-image: linear-gradient(white, rgb(115, 139, 186));
    position: sticky;
    top: 0px;
    z-index: 5;
}
.home{
    padding-left: 1.3rem;
    padding-top: 1.1rem;
    font-size: 1.6rem;
}
.other{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    padding-bottom: 1.3%;
    gap: 1.1rem;
    font-size: 1.2rem;
    transition-duration: all 0.8s;
}
.home a{
    text-decoration: none;
    color: rgb(83, 80, 80);
}
.other a{
    text-decoration: none;
    color: rgb(83, 80, 80);
}
#pyqs:hover, #lecture:hover, #progress:hover, #doubt:hover{
    font-weight: 550;
}
.herosection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12%;
}
.bg{
    position: absolute; 
    right: 0;
    top: 10%; 
}
#bookmark{
    border: 0.03rem solid rgb(100, 97, 97);
    background-color: rgba(97, 111, 192, 0.941);
    width: 25%;
    z-index: 1;
    position: relative;
    transition: all 0.5s;
}
#bookmark::before{
    content: "";
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
#bookmark:hover::before{
    transform: scaleX(1);
    background-color: grey;
}
.herotext{
    font-size: 1.2rem;
}
.herotext a{
    color: white;
    text-decoration: none;
}
#resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}
#resources h1{
    color: rgb(87, 85, 85);
    font-size: 3rem;
}
.lectures{
    width: 35rem;
    height: 25rem;
    border: 0.02rem solid rgb(126, 122, 122);
    border-radius: 0.4rem;
    box-shadow: 0rem 0rem 0.35rem gray;
}